.homescreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .hero-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  .underlined-h2 {
    text-decoration: black underline;

  }

  .header-text-constant {
    font-size: 70px;
    font-weight: 600;
    text-align: justify;
  }

  .home-info-paragraph {
    font-size: 18px;
    padding: 28px 0 28px 0;
    width: 60%;
  }

  .home-slider {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 40px 20px;
  }

  .marquee-text {
    padding: 20px 0 20px 0;
  }

  .marquee-slider {
    display: flex;
    flex-direction: row;
  }

  .hero-video {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }

  .hero-search {
    width: 100%;
    padding: 40px 0 40px 0;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .hero-video {
    width: 90%;

    max-width: 300px;
    height: auto;
    border-radius: 15px;
  }

  .homescreen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
    height: fit-content;

    .hero-image {
      margin: 20px 0;
      width: 200px;
      height: 200px;
    }

    .hero-parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 0;
    }

    .home-info-paragraph {
      width: 100%;
      line-height: 1.4;
      text-align: justify;
      padding: 16px;
    }

    .home-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .header-text-constant {
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      padding: 16px;
    }

    .header-container {
      padding: 16px;
    }

    .marquee-text {
      text-align: center;
      font-size: 12px;
    }
  }
}

/* Tablet */
@media (max-width: 768px) {
  .hero-video {
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
  }

  .homescreen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    .home-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
}