.form-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #1f2933;
  border-radius: 18px;
  padding: 64px;

  .form-header {
    font-size: 60px;
    font-weight: 700;
    padding: 16px 0 16px 0;
    color: white;
    text-align: center;
  }

  .form-parent {
    color: white;

    .form-group {
      padding: 8px;
    }

    .form-button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .form-submit-button {
        background-color: #60a5fa;
        border: none;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 479px) {
  .form-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #1f2933;
    border-radius: 18px;
    padding: 18px;
  
    .form-header {
      font-size: 36px;
      font-weight: 700;
      padding: 16px 0 16px 0;
      color: white;
      text-align: center;
    }
  
    .form-parent {
      color: white;
  
      .form-group {
        padding: 8px;
      }
  
      .form-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
  
        .form-submit-button {
          background-color: #60a5fa;
          border: none;
          padding: 8px;
          border-radius: 8px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          margin-top: 16px;
        }
      }
    }
  }
}