$primaryColor: rgb(82, 96, 109);
$secondaryColor: #00ff00;
$tertiaryColor: #0000ff;
$blackColor: #000000;
$whiteColor: #ffffff;

$backgroundColor: #f5f7fa;
$cardsBackgroundColor: #a9cecc;
$cardsBackgroundColorDeepBlue: rgb(31, 41, 51);
$cardsBackgroundColorBeige: #dfc9c0;
