.header-container {
  position: relative;
  overflow: hidden;
  height: 80px; // Adjust based on content height
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;

  @media (max-width: 479px) {
    font-size: 36px;
  }
}