.navigation-container {
  display: flex;
  flex-direction: row;
}

.desktop-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.menu-wrapper {
  display: inline;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-list li {
  padding: 0 24px 0 24px;
  float: left;
}

.link-text {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (max-width: 991px) {
  .horizontal-list {
    display: none;
  }
}