@import '../../assets/scss/variables';

.advantages-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .advantages-card {
    display: flex;
    background-color: $cardsBackgroundColorDeepBlue;
    border-radius: 24px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 32px 64px 36px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .advantages-header {
    font-size: 50px;
  }

  .advantages-header-underlined {
    text-decoration: underline;
  }
  
  .advantages-paragraph {
    font-size: 18px;
  }
    
  .card-content-text {
    color: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

@media (max-width: 479px) {
  .advantages-container {
    display: flex;
    padding: 8px;
    border-radius: 16px;
    height: fit-content;

    .advantages-card {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
      padding: 16px 16px 0px 16px;
    }

    .advantages-header {
      font-size: 40px;
      margin: 0 0 8px 0;
      text-align: center;
    }

    .advantages-paragraph {
      font-size: 16px;
      text-align: center;
      margin: 0;
    }

    .card-content-left {
      display: flex;
      opacity: 1;
      transform: none;
      flex-direction: column;
      align-items: center;
    }

    .card-content-right {
      margin-bottom: 8px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      position: relative;
    }
    
    .card-content-image {
      width: 200px;
      height: 200px;
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {
  .advantages-container {
    display: flex;
    padding: 8px;
    border-radius: 16px;
    height: fit-content;

    .advantages-card {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
      padding: 16px 16px 0px 16px;
    }

    .advantages-header {
      font-size: 40px;
      margin: 0 0 8px 0;
      text-align: center;
    }

    .advantages-paragraph {
      font-size: 16px;
      text-align: center;
      margin: 0;
    }

    .card-content-left {
      display: flex;
      opacity: 1;
      transform: none;
      flex-direction: column;
      align-items: center;
    }

    .card-content-right {
      margin-bottom: 8px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      position: relative;
    }
    
    .card-content-image {
      width: 200px;
      height: 200px;
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .advantages-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
  
    .advantages-card {
      display: flex;
      background-color: $cardsBackgroundColorDeepBlue;
      border-radius: 24px;
      width: 100%;
      height: 100%;
      padding: 80px 32px 64px 36px;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;

      .card-content-image-container {
        display: flex;
        justify-content: center;

        .card-content-image {
          width: 50%;
          height: 50%;
          opacity: 0.5;
        }
      }
    }
  }
}